* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, #fakeHeader{
    position: relative;
    height: 150px;
    width: 100vw;
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    z-index: 1987;
}

#fakeHeader{
    height: 75px;
    position: fixed;
    top: -75px;
    opacity: 0;
    transition: all 1s ease;
    z-index: 1986;
}

#content {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 5px;
}

.column {
    padding: 5px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: space-between;
}

.column .element {
    width: 100%;
    border-radius: 10px;
    margin: 5px 0;
}

.column .element img {
    width: 100%;
    border-radius: 10px;
}
